*{

    margin: 0;
    padding: 0;

}

:root{
    --boxShadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
html {
    height: 100vh;
    overflow: hidden;
}
body{
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-areas: "header header"
                         "content content"
                         "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4rem 1fr 3rem;
}

header{
    display:flex;
    background-color: antiquewhite;
    grid-area: header;
}

main {
    display: flex;
    position: relative;
    background-color: silver;
    grid-area: content;

}

footer {
    background-color: beige;
    grid-area: footer;
}

nav {
    position: absolute;
    display: block;
    background-color: antiquewhite;
    height: 100%;
    width: 0;
    overflow-y: scroll;
    z-index: 100;
}

.plus___wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    border-radius: 50px;
    background-color: white;

    position: absolute;
    right: 10px;
    top: 20px;
    
    
}

.navbar__wrapper {
    padding: 1rem;
    margin: 0.5rem;
    justify-self: end;
}

.navbar---toggleLtoR {
    animation: left-to-right 500ms linear forwards;

}

.navbar---toggleRtoL {
    animation: right-to-left 500ms linear forwards;
}

@keyframes left-to-right {
    0% {
        width: 0;
    }

    33% {
        width: 8rem;
    }

    66% {
        width: 15rem;
    }

    100% {
        width: 20rem;
    }
}

@keyframes right-to-left {
    0%{
        width: 20rem;
    }

    33% {
        width: 15rem;
    }

    66% {
        width: 8rem;
    }

    100%{
        width: 0rem;
    }
}

.newproject___form {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    display: none;
    background-color: aliceblue;
    justify-self: center;
    align-self: center;
    height: 200px;
    width: 200px;
    
}

