*{

    margin: 0;
    padding: 0;

}

:root{
    --boxShadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
html {
    height: 100vh;
    overflow: hidden;
}
body{
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-areas: "header header"
                         "content content"
                         "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4rem 1fr 3rem;
}

header{
    display:inline-block;
    background-color: antiquewhite;
    grid-area: header;
}

main {
    display: flex;
    position: relative;
    background-color: silver;
    grid-area: content;

}

footer {
    background-color: beige;
    grid-area: footer;
}

nav {
    position: absolute;
    display: none;
    background-color: antiquewhite;
    height: 100%;
    width: 20rem;
    overflow-y: scroll;



}

.plus___wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: white;

    position: absolute;
    right: 10px;
    bottom: 20px;
    
    
}

.navbar__wrapper {
    padding: 1rem;
    margin: 0.5rem;
    justify-self: end;
}

.navbar---toggle {
    display: block;
}

.newproject___form {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    display: none;
    background-color: aliceblue;
    justify-self: center;
    align-self: center;
    height: 200px;
    width: 200px;
    
}
